[data-theme="light"],
:root:not([data-theme="dark"]) {
    margin: 5px;
  --primary: #638560;
  --primary-hover: #41583f;
  --primary-focus: #c6fcf8;
  --primary-inverse: #c6fcf8;
  --background-color: #334443;
  --card-background-color: #34656d;
  --form-element-background-color: var(--background-color);
  --form-element-active-border-color: var(--);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
  --color: #c6fcf8;
  --h1-color: #c6fcf8;
  --h2-color: #c6fcf8;
  --h3-color: #c6fcf8;
  --h4-color: #c6fcf8;
  --h5-color: #c6fcf8;
  --h6-color: #c6fcf8;
  --muted-color: #c6fcf8;
}

main {
  height: 100vh;
}
input {
  border: 1px solid var(--color);
}
article {
  margin-top: 0;
  margin-bottom: 0;
}
/* #site-info {
  color: black;
} */

#header {
  padding-top: 10px;
  padding-bottom: 2px;
  text-align: center;
}
#header div {
  height: 50px;
}
.do-it-div {
  display: flex;
  justify-content: center;
  height: fit-content;
}

#do-it {
  height: fit-content;
  width: fit-content;
}
#do-it-drink {
  height: fit-content;
  width: fit-content;
}

.container-fluid {
  padding-top: 20px;
}
#dinnerBtn {
  width: 200px;
  display: inline;
}
#drinkBtn {
  width: 200px;
  display: inline;
}
#buttonholder {
  display: flex;
  justify-content: space-around;
}

a img {
  border: 2px solid var(--primary);
  border-radius: 4px;
  width: 250px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  opacity: 0.5;
}
