/* Blue-grey Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #546e7a;
  --primary-hover: #455a64;
  --primary-focus: rgba(84, 110, 122, 0.125);
  --primary-inverse: #FFF;
}

/* Blue-grey Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #546e7a;
    --primary-hover: #607d8b;
    --primary-focus: rgba(84, 110, 122, 0.25);
    --primary-inverse: #FFF;
  }
}

/* Blue-grey Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #546e7a;
  --primary-hover: #607d8b;
  --primary-focus: rgba(84, 110, 122, 0.25);
  --primary-inverse: #FFF;
}

/* Blue-grey (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}
body {

    background: #b89286;
}
main {
    height: 100vh;
}
input {
    border: 1px solid black;
}
article {
    margin-top: 0;
    margin-bottom: 0;
    background: #cfbab6;
}
#site-info {
    color: black;
}
#dinnerBtn {
    background: #cfbab6;
}
#drinkBtn {
    background: #cfbab6;
}

#header {
    padding-top: 10px;
    padding-bottom: 2px;
    text-align: center;
    
}
#header div {
    height: 50px;
}
.do-it-div {
    display: flex;
    justify-content: center;
    height: fit-content;

}

#do-it {
    height: fit-content;
    width: fit-content;
}
#do-it-drink {
    height: fit-content;
    width: fit-content;
}

.container-fluid {
    padding-top: 20px;
}
#dinnerBtn {
    width: 200px;
    display: inline;
}
#drinkBtn {
    width: 200px;
    display: inline;
}
#buttonholder {
    display: flex;
    justify-content: space-around;
}

img {
    border: 2px solid var(--primary);
    border-radius: 4px;
    width: 250px;
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    opacity: .5;
  } 